body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar .alert {
    margin-bottom: 0;
}

.navbar .alert .container {
    min-height: 18px;
    margin-left: 28px;
    margin-right: 28px;
}

#module-details {
    display: inline;
}

#module-details span {
    margin-left: 5px;
    margin-right: 5px;
}
