body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar .alert {
    margin-bottom: 0;
}

.navbar .alert .container {
    min-height: 18px;
    width: 915px;
}

#list-module-loader button {
    margin-left: 4px;
}

#list-module-loader #modules {
    width: 556px;
}

#registered-modules ul {
    display: none;
}
