body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#module-details {
    display: inline;
}

#module-details span {
    margin-left: 5px;
    margin-right: 5px;
}

/* Remove tab borders in the navbar */
.navbar .nav-tabs, .navbar .nav-tabs > .active > a, .navbar .nav-tabs > .active > a:hover, .nav-tabs > li > a:hover{
    border: none;
}

